#########################################################################
#									#
# Author: Copyright (C) 2023  Mark Grant				#
#									#
# Released under the GPLv3 only.					#
# SPDX-License-Identifier: GPL-3.0-only					#
#									#
# N.B.									#
# After changes to any gitignore file please run			#
#		'git ls-files -i --exclude-standard'			#
# to determine if any tracked files are now ignored.			#
#									#
#########################################################################

# This .gitignore file is to ensure that this directory exists even though
# none of it's contents will ever be tracked. This is required because
# otherwise, after cloning, the project build will fail citing this missing
# directory.
# In other words, this is a git hack to satisfy AutoTools.

