/autom4te.cache/
/aclocal.*
/config.*
/configure
**/Makefile
**/Makefile.in
/missing
/INSTALL
/install-sh
/*.tar.gz
/conffiles
**/*~
/*.log
/*.scan
/depcomp
/compile
**/.deps/
/dist
/build
/patches
/target
/ar-lib
/libtool
/ltmain.sh
**/*.o
**/*.lo
**/*.la
**/.libs/
**/.dirstamp
/cscope.*
/nbproject/private/
/distribution
**/Version.java
