#########################################################################
#									#
# Author: Copyright (C) 2021, 2023  Mark Grant				#
#									#
# This file is maintained in the project at:-				#
#	https://github.com/m-grant-prg/project-misc			#
#		new versions are merely copied to consumer projects.	#
#									#
# Released under the GPLv3 only.					#
# SPDX-License-Identifier: GPL-3.0-only					#
#									#
# N.B.									#
# For format details, see "MAPPING AUTHORS" in "man git-shortlog".	#
#									#
# Please keep this list dictionary sorted.				#
#									#
#########################################################################

#########################################################################
#									#
# Version	v1.0.4							#
#									#
#########################################################################


Mark Grant <m.grant.prg@gmail.com> <m.grant.prg.01@gmail.com>

